@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Stencil+One&display=swap");

:root {
  --background-color: grey;
  --display-color: black;
  --primary-color: #05e93a;
  --secondary-color: #feec00;
}

.calc-display,
.title {
  font-family: "Saira Stencil One", cursive;
}

.calc-button {
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 25px;
  margin: 20px 0;
}
