@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Stencil+One&display=swap");

:root {
  --background-color: #010101;
  --display-color: black;
  --primary-btn-color: ##a5a5a5;
  --secondary-color: #333333;
  --secondary-btn-color: #fd9624;
  --text-color: #e7e7e7;
}

.calc-display,
.title {
  font-family: "Saira Stencil One", cursive;
}

.calc-button {
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 25px;
  margin: 20px 0;
}

.clac {
  width: 350px;
  height: 600px;
  background-color: var(--background-color);
  border-radius: 10px;
}

.calc-display {
  margin: 20px auto;
  width: 300px;
  height: 30%;
  background-color: var(--display-color);
  color: var(--primary-color);
  border-radius: 10px;
  font-size: 40px;
}

.keyboard {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 5px 5px;
}

.calc-button {
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: none;
}

.c-btn {
  grid-column: 2/4;
  grid-row: 1/3;
}

.plus-minus-btn {
  grid-column: 4/6;
  grid-row: 1/3;
}

.percent-btn {
  grid-column: 6/8;
  grid-row: 1/3;
}

.divide-btn {
  grid-column: 8/10;
  grid-row: 1/3;
}

.seven-btn {
  grid-column: 2/4;
  grid-row: 3/5;
}

.eight-btn {
  grid-column: 4/6;
  grid-row: 3/5;
}

.nine-btn {
  grid-column: 6/8;
  grid-row: 3/5;
}

.multiply-btn {
  grid-column: 8/10;
  grid-row: 3/5;
}

.four-btn {
  grid-column: 2/4;
  grid-row: 5/7;
}

.five-btn {
  grid-column: 4/6;
  grid-row: 5/7;
}

.six-btn {
  grid-column: 6/8;
  grid-row: 5/7;
}

.minus-btn {
  grid-column: 8/10;
  grid-row: 5/7;
}

.one-btn {
  grid-column: 2/4;
  grid-row: 7/9;
}

.two-btn {
  grid-column: 4/6;
  grid-row: 7/9;
}

.three-btn {
  grid-column: 6/8;
  grid-row: 7/9;
}

.plus-btn {
  grid-column: 8/10;
  grid-row: 7/9;
}

.zero-btn {
  grid-column: 2/6;
  grid-row: 9/11;
  border-radius: 20% 50%;
}

.coma-btn {
  grid-column: 6/8;
  grid-row: 9/11;
}

.equal-btn {
  grid-column: 8/10;
  grid-row: 9/11;
}
